<%- include("header") %>
    <div class="formData">
        <div class="display">
            <img src="<%= data.current.condition.icon %>" alt="Weather_Img">
            <h1>
                LOCATION : <%= data.location.name %>
            </h1>
            <h3>
                TEMPERATURE : <%= data.current.temp_c %> °C
            </h3>
            <h3>
                CONDITIONS : <%= data.current.condition.text %>
            </h3>
        </div>
        <a href="/"><button class="btn">HOME</button></a>
    </div>

    <%- include("footer") %>